/* Fondo General */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212121; /* Fondo oscuro */
    font-family: 'Arial', sans-serif;
}

/* Contenedor del formulario */
#form-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #212121;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh; /* Hace que ocupe toda la altura de la pantalla */
    width: 100vw;
    max-width: 400px;
    background-color: #2a2a2a; /* Fondo más oscuro */
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 255, 127, 0.6);
    padding: 20px;
    border: 1px solid #00FF7F; /* Borde verde */
}

/* Títulos */
#welcome-lines {
    text-align: center;
    line-height: 1.2; /* Aumenta la separación */
}

#welcome-line-1 {
    color: #00FF7F;
    font-weight: 600;
    font-size: 36px;
}

#welcome-line-2 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
}

/* Área de Inputs */
#input-area {
    width: 100%;
    margin-top: 20px;
}

/* Estilo de los Inputs */
.form-inp {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    background: transparent;
    border: 2px solid #e3e3e3;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.form-inp input, .form-inp select {
    flex: 1;
    background: none;
    font-size: 14px;
    color: #00FF7F;
    border: none;
    outline: none;
}

.form-inp input:focus, .form-inp select:focus {
    border-color: #00FF7F; /* Borde verde al estar enfocado */
}

select {
    background-color: #2a2a2a;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #00FF7F;
}

/* Botón de Enviar */
#submit-button {
    width: 100%;
    padding: 12px;
    background-color: #00FF7F;
    color: #161616;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#submit-button:hover {
    background-color: #00cc66; /* Cambio de color en hover */
}

/* Decoración */
#bar {
    width: 40px;
    height: 6px;
    background-color: #00FF7F;
    margin: 20px auto 0;
    border-radius: 10px;
}
